<%- include('header'); -%>

<h2>This is about Page</h2>
<p>knrgjersbgujber
erngernigp
eignestnbgienrignthnbrtshsrtujbhjrteb gea
tehgrstnbghujtugnierngintgnh4twhg
tikthgnitrnhintighntihjt4h
ergnitrhnithitiuhntihnt
ienginterighntrihnt
</p>
<%- include('footer'); -%>
